@{
  Layout = "_Layout";
}

<h1>Recipe Log</h1>

<p>@Html.ActionLink("all recipes", "Index", "Recipes")</p> <p>@Html.ActionLink("all tags", "Index", "Tags")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>